body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
}
.upper-block {
    background: #65256F;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    }
    span {
    margin-left: 10px;
    color: #FFB700;
    }
    .need_help {
    color: #FFB700;
    }
    .down-block{
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    }
    .arm {
    padding: 10px;
    }
    .arm2 {
     display: flex;   
    }
    ul {
    display: flex;
    list-style: none;  
    margin-right: 20px; 
    
    }
    li {
     margin-left: 50px; 
     color: #2A2828;
     font-size: 14px;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 600;
     line-height: 17px;
     letter-spacing: 0em;
     text-align: left;
    }
    .btn {
    line-height:17px;  
    font-size: 14px;
    color:  #FFFFFF;
    background: #65256F;
    ;
    width: 168px;
    height: 42px;
    }
    .fone {
        position: relative;
        background: url(image/Rectangle\ 70.jpg);
        width: 100%;
        height: 700px;
    
    }
    .r {
    position: absolute;  
    color: #FFFFFF;
    height: 154px;
    width: 696px;
    left: 136px;
    top: 100px;
    border-radius: nullpx;
    font-size: 42px;
    font-family: Gilroy;
    }
    .r2 {
    position: absolute;  
    height: 84px;
    width: 608px;
    left: 136px;
    top: 300px;
    border-radius: nullpx;
    line-height: 42px;
    color: white;
    font-size: 36px;
      }
    .r3 {
    position: absolute;  
    height: 60px;
    width: 300px;
    left: 136px;
    top: 470px;
    border-radius: 3px;
    background: #FFC957;
    
      }
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
    .social {
    position: relative;
    }
    .s1 {
        position: absolute;
        top: 225px;
        right: 25px;
    }
    .s2 {
        position: absolute;
        top: 320px;  
        right: 25px;
    }
    .s3 {
        position: absolute;
        top: 450px;
        right: 25px;
    }
    
    
    
    .key0 { 
    text-align: center;
    font-family: GilroySolid;
    fill: #000000;
    font-size: 25px;
    font-family: Gilroy;
    }
   
    .oo{
        
        text-align: center;
        font-family: GilroySolid;
        fill: #000000;
        font-size: 45px;
        font-family: Gilroy;
    }
   
    .works {
        text-align: center;
        font-family: GilroySolid;
        fill: #000000;
        font-size: 25px;
        font-family: Gilroy;
    
    }.work {
     display: flex;
     justify-content: space-evenly;
     margin: 2% 2%;
    
    }
    .wor{
        display: flex;
     justify-content: space-evenly;
     margin: 2% 2%;
    
    }
    .allworks {
    text-align: center;
    background: #65256F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 160px;
    height:41px;
    left: 600px;
    margin:10px 570px 0 ;
    }
    .pr{
        text-align: center;
        font-family: GilroySolid;
        fill: #000000;
        font-size: 25px;
        font-family: Gilroy;
    }
    .pr2 {
    display: flex;
    justify-content: space-around;
        margin:0 285px ;
        padding:0 85px;
        height:300px;  
    }
    .ourprice{
        text-align: center;
        font-size: 25px;
    }
    .price {
        display: flex;
        text-align: center;
        font-size: 25px ;
       top:20px;  
       flex-wrap: wrap;
       width: 100%;
       margin: 0 0 0 5%;
    
    }
    .price0 {
       flex: 0 1 20%;
        margin: 0 25px 0;
        display: flex; 
        flex-direction: column;
        font-size: 15px;
        font-family: Gilroy;
        text-align: left;
        color: slateblue;
    }
    .key1 {
        width: 250px;
       height: 300px;
    
    }
    
    
    .saveprice{
        text-align: center;
        background: #65256F;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        width: 160px;
        height:41px;
        left: 600px;
        margin:30px 570px;   
    }
    .ourclients{
        text-align: center;
        font-family: GilroySolid;
        fill: #000000;
        font-size: 25px;
        font-family: Gilroy;
       top:20px 5px;   
    }
    .nike {
        display: flex;
        justify-content: space-around;
        margin: 0 95px;
        padding: 0 45px; 
    }
    .commands{
        text-align: center;
        font-family: GilroySolid;
        fill: #000000;
        font-size: 25px;
        font-family: Gilroy;
       top:20px 5px;      
    }
    .fcomands {
        display: flex;
        margin: 2% 2%;
        padding:0 25px;
        height:350px; 
      
        justify-content: space-around; 
       left: 25px;
    }
    .name {
        display: flex;
        margin-right: 0 20px;
        padding:5px 85px;
        height:30px; 
        justify-content: space-around;
        font-family: Gilroy; 
        color: #6F6C6C;
        font-size: 35px;
    }
    .prof {
        display: flex;
        margin-right: 35px 20px;
        padding:25px 85px;
        height:20px; 
        justify-content: space-around;
        font-family: Gilroy; 
        font-size: 15px;  
        color: #6F6C6C;  
    }
    .men {
    top: 100px;  
    text-align: center;
    color: #343434;
    font-family: Gilroy;
    font-style:
    normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 38px;
    }
    .profile{
        display: flex;
        text-align: center;
        justify-content: space-around;
        padding: 0 325px;
        color: #737272; 
        margin: 3% 0%;
       
        
    
    }
    .go{
        text-align: center;
        background: #65256F;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        width: 160px;
        height:41px;
    }
    .profile2{
        background-color: rosybrown;
        width: 160px;
        height:41px;
        text-align: center;
    }
    .profile3 {
        background-color: rgb(177, 175, 175);
        width: 160px;
        height:41px;
        padding: 0px 20px 0px 20px;
        
    }
    .foot{
        background: #3A3A3A;
        display: flex; 
        justify-content: space-around;
        margin: 0 0;
    }
    .foot1{
     color: white;
    }
    .info {
    color: white;
    }
    .contactinfo{
        color: white;
    }
    .weinsocial{
        color: white;    
    }
    